ignore-scripts=false
registry=https://registry.npmjs.org/
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
